---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'codingwithcody';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <script type="text/javascript">
    (function() {
      var hiddenClass = ' toggle-hidden';
      var dataBlocks = document.querySelectorAll('[data-toggle-TS-JS]');
      var codeBlocks = [].map.call(dataBlocks, function(el) {
        var blocks = el.querySelectorAll("figure.code-highlight-figure");
        blocks[1].className += hiddenClass;
        return [blocks[0], blocks[1], el];
      });
      [].forEach.call(document.querySelectorAll('[data-toggle]'), function(element, index) {
        element.innerHTML = 'View JS';
        element.className = 'link';
        function setHeight(target) {
          var style = getComputedStyle(target);
          codeBlocks[index][2].style.height = parseInt(style.marginBottom) + target.clientHeight + "px";
        }
        setHeight(codeBlocks[index][0]);
        element.addEventListener('click', function() {
          var elTS = codeBlocks[index][0];
          var elJS = codeBlocks[index][1];
          if (elTS.classList.contains('toggle-hidden')) {
            element.innerHTML = 'View JS';
            elTS.className = elTS.className.replace(hiddenClass, '');
            elJS.className += hiddenClass;
            setHeight(elTS);
          } else {
            element.innerHTML = 'View TS';
            elTS.className += hiddenClass;
            elJS.className = elJS.className.replace(hiddenClass, '');
            setHeight(elJS);
          }
        });
      });
    })()
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
